* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

h4, h3 {
	margin: 0px;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.row {
	margin-bottom: 16px;
}

.center {
	text-align: center;
}

.choice {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background-size: 551px;
	margin: 0 auto;
	background-color: rebeccapurple;
}

.choice--opponent {
	transform: scaleX(-1);
}

.choice--rock {
	background-image: url(../images/rps.png);
	background-position: 342px -362px
}

.choice--paper {
	background-image: url(../images/rps.png);
	background-position: 717px -52px
}

.choice--scissors {
	background-image: url(../images/rps.png);
	background-position: -23px -52px
}

.action {
	width: 100px;
	height: 100px;
	background-image: url(../images/rps.png);
	border-radius: 50px;
	background-size: 362px;
	margin: 0 auto;
}

.action a {
	display: block;
	height: 100%;
}

.action:hover,
.action:focus {
	transform: scale(1.2);
}

.action--rock {
	background-position: -138px -238px;
}

.action--paper {
	background-position: -253px -34px;
}

.action--scissors {
	background-position: -16px -34px;
}


.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 150px;
	height: 150px;
	background: none;
}

.loader--spin {
	-webkit-animation: spin 2s linear infinite; 
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.container .jumbotron {
	padding: 10px;
	min-height: 100px;
	max-height: 300px;
	overflow-y: auto;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.form-control--flat-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item {
	background: transparent;
	border: none;
	padding: 5px;
}

.msg {
	border-radius: 20px;
	color: #FFF;
	padding: 10px;
}

.list-group-item::after {
	content: '';
	display: table;
	clear: both;
}

.msg--left {
	float: left;
	background-color: #a94442;
	border-top-left-radius: 0px;	
}

.msg--right {
	float: right;
	border-bottom-right-radius: 0px;	
	background-color: #3c763d;
}
